.App {
  text-align: center;
  min-height: 100vh;
  background-color: #161512;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-dark {
  background-color: #262421;
}

.content{
  margin: 7%;
  background-color: #262421;
  padding: 4rem 1rem 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
}

.header-text{
  font-style: normal;
  font-weight: 600;
}

.title-logo{
  font-family: 'Press Start 2P', cursive;
  font-weight: 800;
  text-align: center;
  font-size: 3rem;
}

.form-control{
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #F50057 !important;
  border-style: solid;
  border-width: 0 0 1px 0 !important;
  padding: 0px;
  height: auto;
  border-radius: 0;
  background-color: #262421;
  background-clip: padding-box;
}

.form-control:focus{
  color: #F50057;
  background-color: #262421;
  border-color: #262421;
  outline: 0;
  box-shadow: none;
}

.navbar-brand{
  font-family: 'Press Start 2P', cursive;
  font-weight: 800;
  font-size: 90px;
}

.btn-login{
  width: 100%;
  border-color: #F50057;
  color: #F50057;
}

.btn-google{
  width: 100%;
  border-color: #F50057;
  color: #F50057;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
